body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template: 140px 1fr / 260px 1fr;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* ASIDE SECTION */

.aside {
  background-color: #42cac0;
  color: #fff;
  padding: 10px 15px;

  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 48px;
  z-index: 2;
}

.logo-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 8px;
}

.logo-text {
  font-size: 1.8rem;
}

.items-container {
  font-size: 1.1rem;
  margin-left: 12px;
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 16px;
}

.item-text {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.item-text:hover {
  box-shadow: 0px 2px #fff;
}

/* HEADER SECTION */

.icon-button {
  height: 28px;
}

.header {
  background-color: #fff;
  padding: 12px 24px;
  font-weight: bold;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 8px;

  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
  z-index: 1;
}

.header-top {
  display: grid;
  grid-template-columns: 30px 1fr 30px auto auto;
  align-items: center;
  gap: 16px;
}

.header-bottom {
  display: grid;
  grid-template: repeat(2, 31px) / auto 1fr repeat(3, 100px);
  column-gap: 12px;
  align-items: center;
}

.search-bar {
  background-color: #e2e8f0;
  border: none;
  height: 14px;
  padding: 6px 12px;
  border-radius: 12px;
  max-width: 700px;
}

.profile-picture-small {
  margin: 0 8px;
  height: 40px;
  border-radius: 50%;
}

.profile-picture-mid {
  height: 100%;
  border-radius: 50%;
  grid-area: 1 / 1 / 3 / 2;
}

.user-text {
  font-size: 1.2rem;
  grid-area: 2 / 2 / 3 / 3;
}

.nav-btn {
  background-color: #42cac0;
  color: #fff;
  font-weight: bold;
  margin: 0 4px;
  padding: 8px 24px;
  border: none;
  border-radius: 16px;

  grid-row: span 2;
}

/* MAIN SECTION */

.text-body {
  color: #a4a4a4;
}

.main {
  background-color: #a8eeeb;
  padding: 20px;

  display: grid;
  grid-template: 460px auto / 1fr 300px;
  gap: 20px;
}

.main > * {
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-card {
  background-color: #fff;
  padding: 28px 18px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
}

.section-title {
  margin-bottom: 8px;
}

.projects-section {
  grid-area: 1 / 1 / 3 / 2;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
  align-content: start;
}

.project-card {
  min-height: 200px;
  border-left: 10px solid #ff74a1;

  display: grid;
  grid-template-rows: 28px 1fr auto;
}

.icons-container {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.announcements-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.announcement {
  padding-bottom: 18px;
  border-bottom: 1px solid #a4a4a4;
}

.announcement:last-child {
  padding: 0;
  border: none;
}

.trending-card {
  max-height: 300px;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.profile-container {
  display: grid;
  grid-template: auto auto / 62px auto;
  gap: 4px;
}

.trending-picture {
  grid-row: span 2;
}

.trending-username {
  font-weight: bold;
}
